<ion-header>
  <ion-toolbar>
    <ion-title>EDIT profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="color: white;">
<img src="" alt="">
<div style="color: bisque;">
  <form (ngSubmit)="changeusername()" [formGroup]="usernamedetail">

<ion-grid>

  <!-- for username -->
    <ion-row>
       <ion-col>
         <ion-label>Username : </ion-label>
         <ion-input placeholder="click to change username" type="text" formControllerName="username"></ion-input>
         <!-- <p class="ion-text-center">User email : <strong>{{ userDetail }}</strong></p> -->
        </ion-col>
      </ion-row>
      <ion-item>
    <ion-button type="submit">Edit</ion-button>
   </ion-item>
      <!-- for password -->
    <form (ngSubmit)="changepassword()" [formGroup]="pswdetail">
     <ion-row>
        <ion-col>
          <ion-label>password : </ion-label>
          <ion-input placeholder="click to change password" type="password" formControllerName="passsword"></ion-input>
          <!-- <p class="ion-text-center">User email : <strong>{{ userDetail }}</strong></p> -->
         </ion-col>
       </ion-row>
       </form>
</ion-grid>
</form>

</div> 
<ion-button  expand="block"  (click)="savechanges()">Save</ion-button>
  <ion-button  expand="block"  (click)="dismiss()" >Cancel</ion-button>
</ion-content>
